<div class="col-sm-3 col-md-2 sidebar">
<h3>Your Cart</h3>
<table>
  <%=render(cart.line_items) %>

  <tr class="total_line">
    <td colspan="2"><small><strong>Total&nbsp&nbsp </td>
        <td class="total_cell"><small><strong><%= number_to_currency(cart.total_price) %></small></strong></td>
  </tr>

</table>

<%#= button_to t('.checkout'), new_order_path, method: :get %>
<%##= button_to t('.empty'), cart, method: :delete, data: {confirm: 'Are you sure?' } %>
<br>
<%= button_to "Empty Cart", cart, method: :delete, data: {confirm: 'Are you sure?' } %>
</div>
