<h1>Listing products</h1>

<div class="media">
<% @products.each do |product| %>
  <%= image_tag product.image_url, class: "pull-left" %>
    <div class="media-body">
      <h4 class="media-heading"><%= product.title %></h4>
      <p><%= truncate(strip_tags(product.description), length: 80) %></p>
    </div>
<%end %>
</div>
