<% if line_item == @current_item %>
  <tr id ="current_item">
<% else %>
  <tr>
<% end %>
<td><small><%= line_item.quantity %> &times; </small></td>
<td><small><%= line_item.product.title %></small></td>
<td class="item_price"><small><%= number_to_currency(line_item.total_price) %></small></td>
</tr>
