<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Chocolate</h3>
          <ul class="nav masthead-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Awesome Chocolate Store.</h1>
        <p class="lead"> Chocoholic’s Dream! Rich and moist Chocolate cake between layers of the richest of chocolate-ganache.  Finished with more chocolate ganache over the top and sides.  Got Milk?</p>
        <p class="lead">
          <a href="/products" class="btn btn-lg btn-default">Enter</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>ChocolateStore &copy; <%= Time.now.year %> </p>
        </div>
      </div>
    </div>
  </div>
</div>

